/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

/* Header */
header{
    background:#111827;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
}

header h2{
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* Sections */
section{
    padding:80px 8%;
}

.section-title{
    color:#38bdf8;
    margin-bottom:30px;
}

/* Hero Layout */
.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.hero-text{
    flex:1;
    min-width:300px;
}

.hero-image{
    flex:1;
    text-align:center;
}

.hero-image img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #38bdf8;
    box-shadow:0 0 25px rgba(56,189,248,0.4);
}
/* Buttons */
.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:#0f172a;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    margin-right:10px;
}

.btn:hover{
    background:#0ea5e9;
}

.secondary{
    background:#1e293b;
    color:white;
}

/* Grid */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

/* Cards */
.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* Footer */
footer{
    text-align:center;
    padding:30px;
    background:#111827;
    color:#94a3b8;
}

/* Mobile */
@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:10px;
}

.hero h1{
    font-size:38px;
}

}